---
title: "Leaderboard"
layout: structure
bodyclass: "page-leaderboard"
javascript:
  - \js\preview.js
---

<section class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 students">
      {% assign leaders = site.data.leaders.scores | sort : "name" | sort : "score" | reverse %}
      {% for leader in leaders limit : 5 %}
        {% assign avatarimage = leader.score | divided_by: 25 | times: 25 %}
        {% if avatarimage > 1025 %}{% assign avatarimage = 1025 %}{% endif %}
        {% assign avatarimage = avatarimage | append: '.png' %}
        <div class="row">
          <div class="col-xs-1 student-rank">{{ forloop.index }}</div>
          <div class="col-xs-2 student-image">
            <a class="preview" href="/avatar/{{ avatarimage }}" rel="avatar">
              <img
                src="/avatar/{{ avatarimage }}"
                class="center-block img-responsive"
                alt="{{ avatarimage }}"/>
            </a>
          </div>
          <div class="col-xs-6 student-bar">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                aria-valuenow="{{ leader.score }}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{ leader.score | divided_by: site.data.leaders.totalpoints }}%;">
                {{ leader.score }}
              </div>
            </div>
            <div>
              {{ leader.name }}
            </div>
          </div>
          <div class="col-xs-3 student-score text-right">{{ leader.score }}</div>
        </div>
      {% endfor %}

      <div class="row" style="margin-top:20px;">
        <div class="col-xs-12 text-center">
          <a href="all" class="btn btn-primary">See Full Leaderboard</a>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-6 schools text-center">
      <img src="Leaf Points 10 000s3.jpg" class="center-block img-responsive" alt=""/>
      <img src="lobster.gif">
      <h3>
        Brigidine College
      </h3>
      <h4>
        1st Rank
      </h4>
      <h4>
        Total Points for Brigidine
      </h4>
      <h4>
        {{ site.data.leaders.totalscore }}
      </h4>
    </div>
  </div>
</section>
